/* Make sure the root container takes full height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f8f9fa, #c8cecf ); /* Soft gradient */
  font-family: "Inter", sans-serif;
}

/* Center the entire App */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* Ensure the container is centered */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Typography styles */
.MuiTypography-h4 {
  font-weight: bold;
  color: #222;
  margin-bottom: 16px;
  text-align: center;
}
