.editor-section {
  flex-grow: 1;
  margin-left: 270px; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full screen height */
}

.editor-container {
  flex-grow: 1; 
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #ddd;
  min-height: calc(100vh - 60px); /* Takes full height except header */
  max-height: calc(100vh - 60px);
  overflow-y: auto; /* Scroll when needed */
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  margin-right: 200px;
  max-width: calc(100vw - 300px); 
  border-radius: 20px;
  position: relative;
}

.sidebar-container {
  width: 270px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #f4f4f4;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures Share stays at bottom */
}

.version-history {
  flex-grow: 1; 
  overflow-y: auto;
  max-height: 80vh;
}

.share-container {
  margin-top: auto;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.save-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;

}

.save-btn:hover {
  background: #0056b3;
}

.tiptap {
  min-height: 100%;
  width: 100%;
  outline: none; 
  padding: 10px;
  font-size: 16px; 
  line-height: 1.5;
  cursor: text;
  font-size: larger;
}

.tiptap:focus {
  border: none;
  outline: none;
}