.share-container {
  width: 100%;
  padding: 8px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-container button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  margin-bottom: 25px;
}

.share-container .MuiTextField-root {
  width: 100%;
  margin-bottom: 5px;
}

.share-container .MuiToggleButtonGroup-root {
  width: 100%;
}
